apiVersion: v1
kind: Secret
metadata:
  name: {{ include "keycloak.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "keycloak.labels" . | nindent 4 }}
type: Opaque
data:
  KC_DB_PASSWORD: {{ .Values.persistence.dbPassword | b64enc }}
  KC_BOOTSTRAP_ADMIN_PASSWORD: {{ .Values.app.bootstrapAdminPassword | b64enc }}
