apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "dolibarr.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "dolibarr.labels" . | nindent 4 }}
data:
  DOLI_INSTALL_AUTO: {{ default "1" .Values.app.autoInstall | quote }}
  DOLI_PROD: {{ default "1" .Values.app.prod | quote }}
  DOLI_INIT_DEMO: {{ default "0" .Values.app.initDemo | quote }}
  DOLI_DB_HOST: {{ default "postgresql" .Values.persistence.dbHost }}
  DOLI_DB_HOST_PORT: {{ default "5432" .Values.persistence.dbPort | quote }}
  DOLI_DB_TYPE: {{ default "pgsql" .Values.persistence.dbType }}
  DOLI_DB_NAME: {{ .Values.persistence.dbName }}
  DOLI_DB_USER: {{ .Values.persistence.dbUser }}
  DOLI_URL_ROOT: {{ default "http://0.0.0.0" .Values.app.rootUrl }}
  DOLI_ADMIN_LOGIN: {{ .Values.app.adminUser }}
  DOLI_CRON: {{ default "0" .Values.app.doliCron | quote }}
  {{- if .Values.app.companyName }}
  DOLI_COMPANY_NAME: {{ .Values.app.companyName }}
  {{- end }}
  {{- if .Values.app.companyCountryCode }}
  DOLI_COMPANY_COUNTRYCODE: {{.Values.app.companyCountryCode }}
  {{- end }}
  {{- if .Values.app.wwwUserId }}
  WWW_USER_ID: {{ default "1000" .Values.app.wwwUserId }}
  {{- end }}
  {{- if .Values.app.wwwGroupId }}
  WWW_GROUP_ID: {{ default "1000" .Values.app.wwwGroupId }}
  {{- end }}
  DOLI_AUTH: {{ .Values.app.auth }}
  {{- if .Values.app.enableModules }}
  DOLI_ENABLE_MODULES: {{ .Values.app.enableModules }}
  {{- end }}
